+e.contacts
	+e("h2").contacts-name Наши контакты
	+e.contacts-item
		+e("span").contacts-label Город:
		+e("a").contacts-city(href="") Киев
	+e.contacts-item
		+e("span").contacts-label Адрес:
		+e("a").contacts-address(href="") пр. Победы, 87
	+e.contacts-item
		+e("span").contacts-label Телефон:
		+e("a").contacts-tel(href="tel:+380931933942") +38 093 193 39 42
	+e.contacts-item
		+e("span").contacts-label Почта:
		+e("a").contacts-email(href="mailto:3х3football@gmail.com") 3х3football@gmail.com
	//- +e.social
	//- 	each item in social
	//- 		+e.item
	//- 			+e("a").item(href=item.url)= item.title
	//- 				+e("img").social(src=item.image alt=item.title)
		//- +e("h2").vacancies-name Вакансии
		//- 	each item in vacancies
		//- 		+e.item
		//- 			+e(href="#").vacancy= title.name
	+e.dev
		+e.dev-list
			+e.dev-design Design
				+e("img").esign-logo(src="#" alt="Kiselev")
			+e.dev-frontend Frontend
				+e("img").logo(src="#" alt="Se7ensky")
			+e.dev-code Code
				+e("img").code-logo(src="#" alt="Se7ensky")


				+e("a").item(href=item.url)= item.title
					+e("img").image(src=item.image alt=item.title)
